.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.title {
  font-size: 2em;
  margin-bottom: 20px;
}

.upload-form {
  margin-bottom: 20px;
}

.file-input {
  margin-right: 10px;
}

.upload-button, .download-button {
  padding: 10px 20px;
  font-size: 1em;
  color: #282c34;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.upload-button:hover, .download-button:hover {
  background-color: #b3faff;
}